<h1 style="text-align: center">Registration</h1>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
  <div
    class="form-group"
    style="float: left; border: 1px solid white; margin: 10px; padding: 20px"
  >
    <div style=" float:left; border: 1px solid white; margin: 10px; padding: 20px">
      <h3>User Details</h3>
      <!--full name control-->
      <div class="form-group">
        <label for="fullName">
          Full Name:
          <input
            type="text"
            formControlName="fullName"
            id="fullName"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && getUser['fullName'].invalid
            }"
          />
          <div
            *ngIf="submitted && getUser['fullName'].invalid"
            class="invalid-feedback"
          >
            <div *ngIf="getUser['fullName'].hasError('required')">
              First Name is required
            </div>
            <div *ngIf="getUser['fullName'].hasError('minlength')">
              First Name must be at least 5 characters
            </div>
            <div *ngIf="getUser['fullName'].hasError('maxlength')">
              First Name must be at less than 30 characters
            </div>
          </div>
        </label>
      </div>

      <!--user name control-->
      <div class="form-group">
        <label for="userName">
          User Name:
          <input
            type="text"
            formControlName="userName"
            id="userName"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && getUser['userName'].invalid
            }"
          />
          <div
            *ngIf="submitted && getUser['userName'].invalid"
            class="invalid-feedback"
          >
            <div *ngIf="getUser['userName'].hasError('required')">
              User Name is required
            </div>
            <div *ngIf="getUser['userName'].hasError('minlength')">
              User Name must be at least 5 characters
            </div>
            <div *ngIf="getUser['userName'].hasError('maxlength')">
              User Name must be at less than 20 characters
            </div>
          </div>
        </label>
      </div>

      <!--password control-->
      <div class="form-group">
        <label for="password">
          Password:
          <input
            type="password"
            formControlName="password"
            id="password"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && getUser['password'].invalid
            }"
          />
          <div
            *ngIf="submitted && getUser['password'].invalid"
            class="invalid-feedback"
          >
            <div *ngIf="getUser['password'].hasError('required')">
              Password is required
            </div>
            <div *ngIf="getUser['password'].hasError('minlength')">
              Password must be at least 5 characters
            </div>
            <div *ngIf="getUser['password'].hasError('maxlength')">
              Password must be at less than 20 characters
            </div>
          </div>
        </label>
      </div>

      <!--email control-->
      <div class="form-group">
        <label for="email">
          Email:
          <input
            type="email"
            formControlName="email"
            id="email"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && getUser['email'].invalid }"
          />
          <div
            *ngIf="submitted && getUser['email'].invalid"
            class="invalid-feedback"
          >
            <div *ngIf="getUser['email'].hasError('required')">
              Email is required
            </div>
            <div *ngIf="getUser['email'].hasError('email')">
              Please Enter Proper Email!
            </div>
          </div>
        </label>
      </div>
    </div>

    <!--Address controls-->
    <div formGroupName="address" class="form-group" style=" float:left; border: 1px solid white; margin: 10px; padding: 20px">
      <h3>Address</h3>
      <!--line 1-->
      <div class="form-group">
        <label for="line1">
          Line One:
          <input
            type="text"
            formControlName="line1"
            id="line1"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && getAddress['line1'].invalid
            }"
          />
          <div
            *ngIf="submitted && getAddress['line1'].invalid"
            class="invalid-feedback"
          >
            <div *ngIf="getAddress['line1'].hasError('required')">
              Line One is required
            </div>
          </div>
        </label>
      </div>

      <!--line 2-->
      <div class="form-group">
        <label for="line2">
          Line Two:
          <input
            type="text"
            formControlName="line2"
            id="line2"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && getAddress['line2'].invalid
            }"
          />
          <div
            *ngIf="submitted && getAddress['line2'].invalid"
            class="invalid-feedback"
          >
            <div *ngIf="getAddress['line2'].hasError('required')">
              Line Two is required
            </div>
          </div>
        </label>
      </div>

      <!--district-->
      <div class="form-group">
        <label for="district">
          District:
          <input
            type="text"
            formControlName="district"
            id="district"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && getAddress['district'].invalid
            }"
          />
          <div
            *ngIf="submitted && getAddress['district'].invalid"
            class="invalid-feedback"
          >
            <div *ngIf="getAddress['district'].hasError('required')">
              District is required
            </div>
          </div>
        </label>
      </div>

      <!--State-->
      <div class="form-group">
        <label for="state">
          State:
          <input
            type="text"
            formControlName="state"
            id="state"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && getAddress['state'].invalid
            }"
          />
          <div
            *ngIf="submitted && getAddress['state'].invalid"
            class="invalid-feedback"
          >
            <div *ngIf="getAddress['state'].hasError('required')">
              State is required
            </div>
          </div>
        </label>
      </div>

      <!--pincode-->
      <div class="form-group">
        <label for="pinCode">
          Pin Code:
          <input
            type="text"
            formControlName="pinCode"
            id="pinCode"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && getAddress['pinCode'].invalid
            }"
          />
          <div
            *ngIf="submitted && getAddress['pinCode'].invalid"
            class="invalid-feedback"
          >
            <div *ngIf="getAddress['pinCode'].hasError('required')">
              Pin Code is required
            </div>
            <div *ngIf="getAddress['pinCode'].hasError('minlength')">
              Please Enter PinCode is of Minimum 6 Digit
            </div>
            <div *ngIf="getAddress['pinCode'].hasError('maxlength')">
              Please Enter PinCode is of Maximum 6 Digit
            </div>
          </div>
        </label>
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </div>
</form>

<!-- <div
  style="
    margin: auto;
    width: 40%;
    border: 3px solid grey;
    padding: 10px;
    background-color: cornsilk;
  "
>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
    <div
      class="form-group"
      formGroupName="userDetails"
      style="float: left; border: 1px solid white; margin: 10px; padding: 20px"
    >
      <h2>Registration</h2>
      <label for="fullName">
        Full Name:
        <input
          type="text"
          class="form-control"
          id="fullName"
          formControlName="fullName"
          [ngClass]="{
            'is-invalid':
              submitted && getUser.userDetails.controls['fullName'].errors
          }"
        />
        <div
          *ngIf="submitted && getUser.userDetails.controls['fullName'].errors"
          class="invalid-feedback"
        >
          <div
            *ngIf="
              getUser.userDetails.controls['fullName'].hasError('required')
            "
          >
            Full Name is required
          </div>
          <div
            *ngIf="
              getUser.userDetails.controls['fullName'].hasError('minlength')
            "
          >
            Full Name must be at least 5 characters
          </div>
          <div
            *ngIf="
              getUser.userDetails.controls['fullName'].hasError('maxlength')
            "
          >
            Full Name must be less than 30 characters
          </div>
        </div>
      </label>

      <br />

      <label for="email">
        Email:
        <input
          type="text"
          class="form-control"
          id="email"
          formControlName="email"
          [ngClass]="{
            'is-invalid':
              submitted && getUser.userDetails.controls['email'].errors
          }"
        />
        <div
          *ngIf="submitted && getUser.userDetails.controls['email'].errors"
          class="invalid-feedback"
        >
          <div
            *ngIf="getUser.userDetails.controls['email'].hasError('required')"
          >
            Last Name is required
          </div>
        </div>
        <div
          *ngIf="
            submitted && getUser.userDetails.controls['email'].hasError('email')
          "
          class="invalid-feedback"
        >
          Please Enter a Proper Email
        </div>
      </label>

      <br />

      <label for="userName">
        User Name:
        <input
          type="text"
          class="form-control"
          id="userName"
          formControlName="userName"
          [ngClass]="{
            'is-invalid':
              submitted && getUser.userDetails.controls['userName'].errors
          }"
        />
        <div
          *ngIf="submitted && getUser.userDetails.controls['userName'].errors"
          class="invalid-feedback"
        >
          <div
            *ngIf="
              getUser.userDetails.controls['userName'].hasError('required')
            "
          >
            User Name is required
          </div>
          <div
            *ngIf="
              getUser.userDetails.controls['userName'].hasError('minlength')
            "
          >
            User Name must be at least 5 characters
          </div>
          <div
            *ngIf="
              getUser.userDetails.controls['userName'].hasError('maxlength')
            "
          >
            User Name must be less than 20 characters
          </div>
        </div>
      </label>

      <br />

      <label for="password">
        Password:
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
          [ngClass]="{
            'is-invalid':
              submitted && getUser.userDetails.controls['password'].errors
          }"
        />
        <div
          *ngIf="submitted && getUser.userDetails.controls['password'].errors"
          class="invalid-feedback"
        >
          <div
            *ngIf="
              getUser.userDetails.controls['password'].hasError('required')
            "
          >
            Password is required
          </div>
          <div
            *ngIf="
              getUser.userDetails.controls['password'].hasError('minlength')
            "
          >
            Password must be at least 5 characters
          </div>
          <div
            *ngIf="
              getUser.userDetails.controls['password'].hasError('maxlength')
            "
          >
            Password must be less than 20 characters
          </div>
        </div>
      </label>
    </div>

    <div
      formGroupName="address"
      style="float: left; border: 1px solid white; margin: 10px; padding: 20px"
    >
      <h3>Address</h3>
      <label for="line1">
        Line1:
        <input
          type="text"
          class="form-control"
          id="line1"
          formControlName="line1"
          [ngClass]="{
            'is-invalid':
              submitted && getAddress.address.controls['line1'].errors
          }"
        />
        <div
          *ngIf="submitted && getAddress.address.controls['line1'].errors"
          class="invalid-feedback"
        >
          <div
            *ngIf="getAddress.address.controls['line1'].hasError('required')"
          >
            Line One is required
          </div>
        </div>
      </label>

      <br />

      <label for="line2">
        Line2:
        <input
          type="text"
          class="form-control"
          id="line2"
          formControlName="line2"
          [ngClass]="{
            'is-invalid':
              submitted && getAddress.address.controls['line2'].errors
          }"
        />
        <div
          *ngIf="submitted && getAddress.address.controls['line2'].errors"
          class="invalid-feedback"
        >
          <div
            *ngIf="getAddress.address.controls['line2'].hasError('required')"
          >
            Line Two is required
          </div>
        </div>
      </label>

      <br />

      <label for="district">
        District:
        <input
          type="text"
          class="form-control"
          id="district"
          formControlName="district"
          [ngClass]="{
            'is-invalid':
              submitted && getAddress.address.controls['district'].errors
          }"
        />
        <div
          *ngIf="submitted && getAddress.address.controls['district'].errors"
          class="invalid-feedback"
        >
          <div
            *ngIf="getAddress.address.controls['district'].hasError('required')"
          >
            District is required
          </div>
        </div>
      </label>

      <br />

      <label for="state">
        State:
        <input
          type="text"
          class="form-control"
          id="state"
          formControlName="state"
          [ngClass]="{
            'is-invalid':
              submitted && getAddress.address.controls['state'].errors
          }"
        />
        <div
          *ngIf="submitted && getAddress.address.controls['state'].errors"
          class="invalid-feedback"
        >
          <div
            *ngIf="getAddress.address.controls['state'].hasError('required')"
          >
            State is required
          </div>
        </div>
      </label>

      <br />

      <label for="pinCode">
        Pin Code:
        <input
          type="text"
          class="form-control"
          id="pinCode"
          formControlName="pinCode"
          [ngClass]="{
            'is-invalid':
              submitted && getAddress.address.controls['pinCode'].errors
          }"
        />
        <div
          *ngIf="submitted && getAddress.address.controls['pinCode'].errors"
          class="invalid-feedback"
        >
          <div
            *ngIf="getAddress.address.controls['pinCode'].hasError('required')"
          >
            Line Two is required
          </div>
        </div>
      </label>
    </div>

    <div style="width: min-content; margin: auto; width: 50%; padding: 10px">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div> -->
